.custom-position {
  position: absolute;
  bottom: 198px;
}
/* -----------pagination-------- */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
}

.pagination a:hover {
  background-color: #0056b3;
}

.pagination .active a {
  background-color: #125202;
}

.pagination .disabled a {
  background-color: #ccc;
  pointer-events: none;
}
/* -----------pagination-------- */

@media (max-width: 767px) {
  .sm-badge {
    position: "absolute";
    top: 142px;
  }
}
